<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="tastify_4.Properties.Settings.TastifyConnectionString"
            connectionString="Data Source=DESKTOP-G4QF57N\SQLEXPRESS;Initial Catalog=Tastify;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>